header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  color: black;
  flex-wrap: wrap;
}

.logo {
  color: #ffdc73;
  font-size: 1.5rem; 
}

header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
}

header .menu li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

header .menu li:hover {
  cursor: pointer;
  transform: scale(0.96);
}

header .menu li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  header {
    flex-direction: column; 
    padding: 15px 10px;
  }

  .menu {
    justify-content: center; 
    gap: 20px; 
  }

  .menu li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  header .menu li {
    font-size: 12px; 
  }
}
